[2015-08-19 14:28] antvaleria opened #1 "Breadcrumb apariencia"
![breadcrumb](https://cloud.githubusercontent.com/assets/13840657/9358999/e588652a-465c-11e5-8cd5-dea7fae55dad.png)
Adjunto dejo el diseño
![breadcrumb dg](https://cloud.githubusercontent.com/assets/13840657/9359020/00ad5680-465d-11e5-8342-562aec32df7a.png)

[2015-08-19 14:33] danicotillas commented on #1
@jgenso aquí ya vamos empezando con las aperturas de tickets.
@antvaleria es Vale, responsable de Comunicación Visual de Telartes que creo ya conoces y @FabyQuiroga la Faby que sí conoces de sobra.

Gracias!

[2015-08-19 14:39] antvaleria opened #2 "Cambiar color del fondo menú header"
![header1](https://cloud.githubusercontent.com/assets/13840657/9359178/c35e6de0-465d-11e5-9746-a1a8853afbb8.png)
@jgenso Se podría cambiar el color del fondo del menú del header por un gris más claro (incluye la sección del usuario) y el texto que va por encima debe ir en un gris más oscuro (#404041 este o uno aproximado)no negro.
-Adjunto diseño-
![header](https://cloud.githubusercontent.com/asse

[2015-08-19 15:33] antvaleria opened #3 "Replanteamiento de manejo de fuentes tipográficas en todo el sitio"
@jgenso @danicotillas quiero saber si hay la posibilidad de que se pueda replantear el manejo de las fuentes tipográficas en todo el sitio. Sería de la siguiente forma:
En términos generales para títulos y textos principales con enlace iría la Open sans en regular y semibold principalmente, y para cuerpos de texto una Garamond.
Así se tendría la siguiente gama de tamaños en esas fuentes.
OPEN SANS

[2015-08-19 16:32] antvaleria opened #4 "Incidencia trabajo general de armado de la página"
@jgenso @Cesarluis Actualmente la página de Incidencia se ve así, hay algunas secciones que existen y otras que falta desarrollar o corregir
![incidencia](https://cloud.githubusercontent.com/assets/13840657/9362253/7bc90b60-466d-11e5-8eef-e2e3fda4b1ad.png)
-Adjunto visualización del diseño-
![incidencia](https://cloud.githubusercontent.com/assets/13840657/9362320/cdded088-466d-11e5-8899-06f0c69a1d

[2015-08-19 18:58] antvaleria opened #5 "Comunicación: trabajo general de armado de la página"
@jgenso @Cesarluis Actualmente así es como luce la página de comunicación
![comunicacion](https://cloud.githubusercontent.com/assets/13840657/9362731/4550aeaa-4670-11e5-90fa-3ab53593fca1.png)
La sección del boletín se quitaría, reemplazándola por un texto con enlace la al página de boletín en el sitio.
-Adjunto diseño-
![comunicacion](https://cloud.githubusercontent.com/assets/13840657/9363065/26b

[2015-08-19 19:24] antvaleria opened #6 "Comunicación - Formulario Edición: Cuadro de enlaces a Radios Comunitarias y Articulaciones"
@jgenso @Cesarluis En el formulario de edición de la página de Comunicación, en la sección para ingresar enlaces a Radios Comunitarias y Articulaciones, hay algunas limitantes que van a impedir que  la información de visualice como en el diseño, en la imagen están anotados los puntos.
![formulario comunicacion enlaces](https://cloud.githubusercontent.com/assets/13840657/9366531/fd39df22-4685-11e5-

[2015-08-19 19:40] antvaleria opened #7 "Incidencia - Formulario Edición: Cuadro de enlaces a Incidencia en Políticas Culturales"
@jgenso @Cesarluis En el formulario de edición de la página de Incidencia, en la sección para ingresar enlaces a Incidencia en Políticas Culturales, hay algunas limitantes que van a impedir que la información de visualice como en el diseño, en la imagen están anotados los puntos.
![incidencia fromulario enlaces](https://cloud.githubusercontent.com/assets/13840657/9366972/71f21486-4688-11e5-934c-20

[2015-08-19 19:52] antvaleria opened #8 "Formación - Formulario Edición: Cuadro de enlaces a Articulaciones"
@jgenso @Cesarluis En el formulario de edición de la página de Incidencia, en la sección para ingresar enlaces a Articulaciones, hay algunas limitantes que van a impedir que la información de visualice como en el diseño, en la imagen están anotados los puntos.
![formulario formacion enlaces](https://cloud.githubusercontent.com/assets/13840657/9367232/2d31c808-468a-11e5-9e44-ec6ac892bf7b.png)
-Adju

[2015-08-19 20:27] antvaleria opened #9 "Formación: trabajo general de armado de la página"
@jgenso @Cesarluis Actualmente la página de Formación se ve así, hay algunas secciones que existen y otras que falta desarrollar o corregir
![formacion](https://cloud.githubusercontent.com/assets/13840657/9367911/4e4e0c14-468e-11e5-80e1-b749a073d2c6.png)
-Adjunto visualización del diseño-
![formacion](https://cloud.githubusercontent.com/assets/13840657/9367928/6951382e-468e-11e5-9b84-1cc74edd8803.

[2015-08-19 20:42] antvaleria opened #10 "Formación: desarrollo funcionalidad de galería "Manuales y Tutoriales | Formación""
@jgenso @Cesarluis el contenido de esta galería proviene de la subida de documentos y videos (multimedia). En el formulario de ambos existe exclusivamente una sección que dice "Tipo de documento" en la cual se puede escoger: ninguno, manual, o tutorial. Al seleccionar la opción de manual o tutorial, este contenido debería ser direccionado a la galeria de Formación>Manuales y Tutoriales.
Actualment

[2015-08-19 21:45] antvaleria opened #11 "Reeemplazar banner en el home"
@jgenso @Cesarluis Reemplazar banner del menú con links "flotantes" en el home por esta imagen compartida en el Drive:
https://drive.google.com/drive/folders/0Bxg1HTzPj3EofkRWaHg3NjNieW1MZGt6WUNXQlVDQmgxSEpfaDB6RzFlc2hrSXh1aTRmdms

[2015-08-19 22:07] antvaleria opened #12 "Reubicar links flotantes sobre banner en el home"
@jgenso @Cesarluis sería bueno reubicar los links flotantes sobre el nuevo banner como se muestra en la imagen, los links están coincidiendo con algunas estrellas que conforman una constelación andina en forma de rueca. También es importante el orden en el que están.
![banner-30-julio](https://cloud.githubusercontent.com/assets/13840657/9370246/d5065c8a-469c-11e5-8b1b-6f38bc2a5638.png)

[2015-08-19 22:17] antvaleria opened #13 "Enlaces flotantes banner: Aumentar dimensión de fuente"
@jgenso @Cesarluis
En lo posible aumentar la dimensión de la fuente tipográfica de los enlaces flotantes en el banner, puede ser uno o dos puntos más grande de la fuente actual, en una open sans semibold, para unificar con el resto del sitio (en caso de trabajar el replanteamiento de la fuente tipográfica - Isuue#3)

[2015-08-19 22:43] antvaleria opened #14 "Enlaces flotantes banner: editar texto de enlaces"
@jgenso @Cesarluis
En los enlaces flotantes del banner del home se deben hacer algunas modificaciones en el texto, aumentar enlaces y sub-enlaces también:
1. Agregar enlace de "Circulación Cultural" con sub-enlace a "Hospeda Cultura" (https://docs.google.com/a/telartes.org.bo/forms/d/1Il8KOf-xWcaR0thqhWHF0YzAq3KUuo7pH4Y5gKyUeNI/viewform)
2. Denominación de "Economía Colaborativa" se cambia por "So

[2015-08-20 20:33] antvaleria opened #15 "Circulación Cultural: trabajo general de armado de la página"
@jgenso @Cesarluis Entre ayer y hoy Cesar estuvo avanzando la inserción de las diferentes galerías a las páginas del sitio. Así es cómo luce Circulación Cultural ahora, hice unas pequeñas observaciones en la imagen, pero en general es trabajo de hojas de estilo me parece.
![circulacion cultural](https://cloud.githubusercontent.com/assets/13840657/9394861/c4a5fee2-4758-11e5-961d-4714abda7608.png)
-

[2015-08-20 21:23] antvaleria opened #16 "Sostenibilidad: trabajo general de armado de la página"
@jgenso @Cesarluis Entre ayer y hoy Cesar estuvo avanzando la inserción de las diferentes galerías a las páginas del sitio. Pienso que se puede empezar el trabajo de apariencia de los contenidos en las diferentes galerías para, en caso de ser necesario, luego ir haciendo correcciones más puntuales.
-Adjunto diseño de esta página-
![sostenibilidad](https://cloud.githubusercontent.com/assets/1384065

[2015-08-21 13:57] antvaleria opened #17 "Cultura de Red: trabajo general de armado de la página"
@jgenso @Cesarluis La inserción de las galerías está casi completa en las diferentes páginas. Pienso que se puede empezar el trabajo de apariencia de los contenidos en las diferentes galerías para, en caso de ser necesario, luego ir haciendo correcciones más puntuales.
Así es cómo luce actualmente
![cultura de red](https://cloud.githubusercontent.com/assets/13840657/9409777/bffce0da-47ea-11e5-95b0

[2015-08-21 14:03] antvaleria opened #18 "Cultura Viva Comunitaria: trabajo general de armado de la página"
@jgenso @Cesarluis La inserción de las galerías está casi completa en las diferentes páginas. Pienso que se puede empezar el trabajo de apariencia de los contenidos en las diferentes galerías para, en caso de ser necesario, luego ir haciendo correcciones más puntuales.
-Adjunto diseño de la página-
![cultura viva comunitaria](https://cloud.githubusercontent.com/assets/13840657/9409943/acc88964-47e

[2015-08-21 14:18] antvaleria opened #19 "Cultura Viva Comunitaria - Formulario Edición: Cuadro de enlaces a articulaciones y enlaces"
@jgenso @Cesarluis En el formulario de edición de la página de Cultura Viva Comunitaria, en la sección para ingresar enlaces a Enlaces y Articulaciones, hay algunas limitantes que van a impedir que la información de visualice como en el diseño, en la imagen están anotados los puntos.
![cultura viva comunitaria formulario](https://cloud.githubusercontent.com/assets/13840657/9410307/921b3ec0-47ed-11

[2015-08-21 14:27] antvaleria opened #20 "Cultura de Red - Formulario Edición:"
@jgenso @Cesarluis En el formulario de edición de la página de Cultura de Red, en la sección para ingresar enlaces a Enlaces y Articulaciones, sería bueno ingresar un espacio para ingresa un descripción.
![cultura de red formulario](https://cloud.githubusercontent.com/assets/13840657/9410608/1f6db45a-47ef-11e5-8e00-8c3143593f10.png)
-Adjunto diseño de cómo debería verse la información una vez subi

[2015-08-21 15:51] antvaleria opened #21 "Manifiesto: Armado del contenido en código"
@jgenso @Cesarluis Actualmente esta página está mostrando su contenido como imagen, sería bueno armarla en código. Dejo los recursos en esta carpeta compartida en el drive. https://drive.google.com/drive/folders/0Bxg1HTzPj3EofmdtSU9xd1MzWklrbmVrTFFnZ2dteV85X2JxbjFCaXJZN1BodEktVUN4bTA
-Adjunto visualización del diseño-
![manifiesto](https://cloud.githubusercontent.com/assets/13840657/9412599/914ece

[2015-08-25 14:10] danicotillas commented on #21
@marcelorodcla No te preocupes por éste. Lo hacemos acá porque se confundieron las chicas.

[2015-08-25 16:05] antvaleria opened #22 "Boletín: Funcionamient del slider"
@jgenso @Cesarluis El slider en la página de Boletín está actualmente funcionando de forma dependiente a la carga de boletines en la página, así está jalando la imagen con la que se sube un boletín al llenar el formulario correspondiente.
El slider debe trabajar de forma independiente, pudiendo renovar las imágenes que se van mostrando en el slider con la cuenta de adminTelartes.
Sería bueno re-di

[2015-08-25 16:19] Cesarluis commented on #20
Se ha añadido el campo descripción

[2015-08-25 16:21] Cesarluis commented on #19
El formulario de enlaces ya tiene descripción

[2015-08-25 16:27] Cesarluis commented on #18
Fotos Videos y Documentos estan siendo agrupados en Mediateca,
O los separo como en el diseño?

[2015-08-25 16:29] antvaleria opened #23 "Boletín: programación y armado general de la página"
@Cesarluis En la página del boletín se debería poder, al momento de crear un boletín, subir el siguiente contenido.
- El boletín en pdf (para descarga)
- Un fanzine pdf del boletín que es la versión para impresión del mismo boletín (para descarga)
- Todos los artículos para vista en linea, subido por medio de un formulario, con los siguientes campos (Título, autor, referencia del autor que debería

[2015-08-25 16:29] Cesarluis commented on #17
Por ahora podriamos mantener los enlaces antes de la galeria, tengo algun problema en bajarlos. Los pongo en prioridad baja por ahora

[2015-08-25 16:30] antvaleria commented on #18
mejor si van por separado, como en el diseño

[2015-08-25 16:32] #20 closed, assigned to nobody

[2015-08-25 16:44] #19 closed, assigned to nobody

[2015-08-25 16:45] antvaleria commented on #17
@Cesarluis  no hay problema, luego se pueden ver esos detalles

[2015-08-25 18:51] Cesarluis commented on #10
Ya corregí el filtro de manuales y tutoriales, en documentos y multimedia. Dale una revisada porfa.

[2015-08-25 18:57] Cesarluis commented on #10
@antvaleria registra algunos documentos o multimedia con estas etiquetas para probar el correcto funcionamiento.

[2015-08-25 19:07] Cesarluis commented on #9
@antvaleria , ya elimine lo que indicas, prueba nuevamente con algunos contenidos relacionados a manuales y tutoriales

[2015-08-25 19:09] Cesarluis commented on #8
@antvaleria este ya esta

[2015-08-25 19:10] Cesarluis commented on #7
@antvaleria ya esta el formulario, solo faltan estilos

[2015-08-25 19:12] Cesarluis commented on #6
@antvaleria ya esta el formulario, solo faltan los estilos

[2015-08-25 19:19] Cesarluis commented on #5
Listo

[2015-08-25 19:21] Cesarluis commented on #4
Ya esta lista la disposición de galerias

[2015-08-25 22:39] antvaleria opened #24 "Actorxs Culturales - Previsualización usuarios: previsualización de nombre completo y denomincación"
@Cesarluis En las previsualizaciones de los perfiles de usuarios, redes y colectivos, falta "llamar" la siguiente información.
- Personal/Individual: Debajo del nombre de usuario podría aparecer el nombre y apellido(s) que llenó en formulario de registro
- Colectivo/Institución  y  Red/Articulación: Debajo del nombre podría mostrarse la "denominación" del perfil correspondiente, por ejemplo Hack L

[2015-08-25 23:13] antvaleria opened #25 "Actorxs Culturales: Reemplazar iconos genéricos de usuarios"
@jgenso @Cesarluis @marcelorodcla En las previsualizaciones de los perfiles de usuarios redes y colectivos en "Actorxs Culturales" si se pueden reemplazar los iconos genéricos, de aquellos perfiles que no subieron fotografía en su registro, sería muy bueno porque actualmente el icono que se tiene del hombresito con las líneas de colores es un poco estridente visualmente.
Les dejo link para descarg

[2015-08-25 23:53] antvaleria opened #26 "Actorxs Culturales: Estilo de previsualizaciones de perfiles"
@jgenso @Cesarluis @marcelorodcla Dejo una previsualización con anotaciones de detalles en cuanto al manejo de la fuente tipográfica para ir trabajando la apariencia de las previsualizaciones de los perfiles.
![actorxs culturales estilo fuentes](https://cloud.githubusercontent.com/assets/13840657/9482336/171127ea-4b61-11e5-80b0-72df17f91eb9.png)

Lo ideal sería que el fondo gris de cada perfil sea

[2015-08-26 00:05] antvaleria commented on #9
@Cesarluis acabo de probar la función de manuales y tutoriales, parece funcionar correctamente, se está llamando el contenido a esa galería. Sería bueno si se puede traer esa galería al principio? ser la primera galería en mostrarse en esta página

[2015-08-26 12:41] marcelorodcla commented on #22
@antvaleria El funcionamiento del Slider depende de la configuaración del módulo; mediante el administrador de contenidos. Se ha restringido a esas dimensiones, si la imagen llega a tener un alto superior a 257px no se verá el restante; la restricticción de para subir las imagenes debe partir de establecer en el administrador de contenido estilos de imagen o en la elaboración del tipo de contenido

[2015-08-26 12:42] marcelorodcla commented on #12
@antvaleria  Se a dispuesto los elementos en el orden y posición de la imagen de la imagen, no obsante en la base de datos que me fue proporcionada falta la opción "Sostenibilidad" y "Circulación cultural" esta como "Economia colaborativa".

[2015-08-26 12:42] marcelorodcla commented on #11
@antvaleria  Al parecer el banner ya fue remplazado, creo que este issue podría cerrarse.

[2015-08-26 12:43] marcelorodcla commented on #13
@antvaleria Se aumentó el tamaño de la fuente y se cambio la tipografia a open sans semibold

[2015-08-26 12:44] marcelorodcla commented on #14
@Cesarluis Favor pasarme la DB cuando los cambios se hayan realizado

[2015-08-26 12:44] marcelorodcla commented on #15
@antvaleria Se quitó el borde, las galerias se mantendrá fijas si se configura en el administrador de contendos.

[2015-08-26 14:00] #11 closed, assigned to nobody

[2015-08-26 14:02] #8 closed, assigned to nobody

[2015-08-26 14:18] #6 closed, assigned to nobody

[2015-08-26 14:18] Cesarluis commented on #25
Acabo de cambiar los iconos por defecto

[2015-08-26 14:28] antvaleria commented on #13
@marcelorodcla un favor si se puede reducir un poco la fuente de los enlaces flotantes, que esté un poco más grande que los enlaces del header pero no tanto, me parece que está un poco grande.

[2015-08-26 14:29] Cesarluis commented on #25
He reordenado los campos de cada elemento, indicando la fotografía en primera posición

[2015-08-26 14:34] antvaleria commented on #25
@Cesarluis un favor, se veía mejor en dos columnas, si podemos volver a eso sería bueno.

[2015-08-26 14:53] antvaleria commented on #25
@Cesarluis  los iconos y espacio para la foto de perfil es a 69px x 69px, ahora está a 64px x 64px. Si lo puedes reajustar por favor.

[2015-08-26 15:52] antvaleria opened #27 "Qué somos y Manifiesto: Quitar enlaces al final de la página"
@Cesarluis al final de la página de "Qué somos" y "Manifiesto" hay cinco enlaces (Formación, Comunicación, Incidencia, Economía Colaborativa, Circulación Cultural) esos enlaces se deben quitar de ambas páginas.
![quitar enlaces](https://cloud.githubusercontent.com/assets/13840657/9497628/e7e4c5d4-4be3-11e5-9161-27b8a1aa08fc.png)

[2015-08-26 17:05] Cesarluis commented on #14
@antvaleria @marcelorodcla modifique el menu flotante, en este caso lo programaron en un archivo del theme, o sea que actualizando el github ya lo tienes @marcelorodcla. De todas maneras te enviare una actualizacion del sitio.

[2015-08-26 18:35] Cesarluis commented on #25
ya esta en el tamaño que pides, @marcelorodcla ahora toca una manito de estilos ...

[2015-08-26 19:52] antvaleria commented on #26
@Cesarluis @marcelorodcla Para evita confusiones, se definió mantener dos columnas hoy por la mañana, faltaría trabajar puntualmente estilos.

[2015-08-26 19:53] #25 closed, assigned to nobody

[2015-08-26 20:41] antvaleria opened #28 "Usuario-Notificaciones: Eliminar a "Espacios""
@Cesarluis Por favor quitar del menú lateral derecho de un usuario logueado, el enlace a notificaciones de "Espacios" culturales, es el último item del menú. Esa opción fu pensada en el caso de hacer un registro de los espacios culturales paralelo al mapeo que se está realizando con el Espaciario, como ya no se hará eso, ya no es necesaria esa opción en el menú.

[2015-08-26 20:44] antvaleria opened #29 "Usuario-Notificaciones:Programación revisar funcionamiento"
@Cesarluis Hay algunos aspectos de la programación que es necesario revisar en cuanto al funcionamiento de las notificaciones en el menú del perfil de un usuario (lateral derecho). Dejo los puntos a revisar:
1. Al entrar a cualquiera de los grupos de notificaciones (publicaciones, usuarios, colectivos, redes) debería pre-visualizarse los contenidos que se está notificando. Por ejemplo, actualmente

[2015-08-26 22:34] antvaleria opened #30 "Usuario-Notificaciones/Publicaciones: programación llamado de info de título, fotografía y tipo de contenido"
@Cesarluis Cuando se entra a las notificaciones de publicaciones desde el menú del usuario logueado (lateral derecho), la información respecto al contenido del que se está notificando es solamente el "título". Es necesario llamar el título, definición textual del tipo de contenido y  la fotografía con la que se subió el contenido (en caso de documentos y audio esta imagen debe ser predeterminada,

[2015-08-26 22:58] antvaleria opened #31 "Notificaciones: Trabajo de estilo de previsualizaciones de contenidos"
@Cesarluis @marcelorodcla Dejo las especificaciones en cuanto a manejo tipográfico de esta sección. No sé si se puede implementar el icono de tipo de contenido sobre la foto.
![notificacion especificaciones](https://cloud.githubusercontent.com/assets/13840657/9508444/68f0212a-4c23-11e5-837d-1bcbe805a603.png)
- Adjunto vista general de esta página para trabajar estilos-
  ![notificaciones](https://

[2015-08-27 00:57] #28 closed, assigned to nobody

[2015-08-27 16:25] marcelorodcla commented on #2
hecho

[2015-08-27 16:25] marcelorodcla commented on #3
Para terminar de agregar estos estilos es necesario hacer algunas modificaciones en los view, a través del administrador.

[2015-08-27 16:25] marcelorodcla commented on #12
hecho

[2015-08-27 16:26] marcelorodcla commented on #13
Listo

[2015-08-27 16:26] marcelorodcla commented on #15
es necesario hacer algunas modificaciones en los view, a través del administrador

[2015-08-27 20:00] #12 closed, assigned to nobody

[2015-08-27 20:02] #13 closed, assigned to nobody

[2015-08-28 03:34] marcelorodcla commented on #14
Hecho

[2015-08-28 05:41] marcelorodcla commented on #24
Falta definir tipográfia y máximo de caracteres en cada campo.

[2015-08-28 05:54] marcelorodcla commented on #26
Listo.

[2015-08-28 05:56] marcelorodcla commented on #24
Falta definir sobre los campos de intereses, áreas. Éstos puede variar según el perfil definir que sucederá en esos casos; por ahora como en el diseño todos las cajas tiene una altura fija, los perfiles que tengan mayor textos salen cortados.

[2015-08-28 06:21] marcelorodcla commented on #31
Hecho parcialmente, falta notificaciones para probar.

[2015-08-28 13:24] antvaleria commented on #31
@marcelorodcla @Cesarluis dejo una captura de cómo se ve actualmente la página de notificaciones. No se está mostrando la imagen de cada contenido solamente el label, no se debería mostrar el área de interés sino en texto el tipo de contenido que se está mostrando (noticia, evento, convocatoria, editorial, etc)
![notificaciones telartes](https://cloud.githubusercontent.com/assets/13840657/9547160/

[2015-08-28 20:29] antvaleria commented on #31
@marcelorodcla  un favor si te puedes crear una cuenta en telartes para ir probando eso puedes poner info ficticia, no importa es para ir probando.
Dejo una captura de pantalla, así es cómo se ven las notificaciones actualmente
![notificaciones telartes1](https://cloud.githubusercontent.com/assets/13840657/9556255/743fa044-4da1-11e5-8380-743fe79f2609.png)

[2015-08-31 14:12] antvaleria opened #32 "Banner: Corregir texto de Circulación Cultural"
@Cesarluis  El texto del banner de "Circulación" debe decir "Circulación Cultural"
![banner correccion1](https://cloud.githubusercontent.com/assets/13840657/9580532/1e9d2444-4fc8-11e5-9ed9-d44f066e93ee.png)

[2015-08-31 16:28] antvaleria opened #33 "Menú Desplegable/ Editorial"
@marcelorodcla  arreglar la apariencia de Editorial.
![Uploading Usuario   telartes.png…]()

[2015-08-31 19:32] #32 closed, assigned to Cesarluis

[2015-08-31 19:39] Cesarluis commented on #27
esto ya esta

[2015-08-31 19:53] FabyQuiroga commented on #33
@marcelorodcla mando la captura de pantalla, el editorial está desconfigurado.

![usuario telartes](https://cloud.githubusercontent.com/assets/13841602/9588824/602486d4-4ff8-11e5-9aa8-23134e2bdbb8.png)

[2015-08-31 20:04] FabyQuiroga opened #34 "Menú Desplegable/ Mediateca/Documentos"
@Cesarluis hay que cambiar el Botón "Ver Todas" por "Ver Todos" en los documentos.
![usuariosdd telartes](https://cloud.githubusercontent.com/assets/13841602/9589065/db7e4dbe-4ff9-11e5-8eea-047de5d17644.png)

[2015-08-31 20:12] antvaleria opened #35 "Multimedia: Trabajo de estilo de previsualización de contenidos"
@marcelorodcla al entrar a ver todos los contenidos de mediateca desde el menú desplegable
![mediateca desplegable1](https://cloud.githubusercontent.com/assets/13840657/9589123/3e68e088-4ffa-11e5-97ad-919749aada18.png)
los contenidos que se muestran no presentan ningún estilo, dejo captura de pantalla
![mediateca2](https://cloud.githubusercontent.com/assets/13840657/9589117/3b49e820-4ffa-11e5-8cff

[2015-08-31 20:31] FabyQuiroga opened #36 "Menú Desplegable/Ver Todas/ Cambiar nombre de Multimedia"
@Cesarluis Se debe reemplazar en nombre de "MULTIMEDIA" POR  "VIDEOS"
![telartjes](https://cloud.githubusercontent.com/assets/13841602/9589658/c3a71532-4ffd-11e5-8d52-0189672adbcb.png)

[2015-08-31 20:34] antvaleria opened #37 "Mediateca: jalar diferentes contenidos multimedia sin separación por tipo de contenido"
@Cesarluis en la página de mediateca sería bueno jalar todos estos contenidos sin que estén separados por tipo de contenido (documentos, video, fotos, audio)
Actualmente hay las pestañas deplegables que separan los tipos de contenido.
![mediateca2](https://cloud.githubusercontent.com/assets/13840657/9589608/80e0c8ba-4ffd-11e5-8cf2-e6efcc3ff536.png)
La idea es que se muestren todos los contenidos d

[2015-08-31 21:11] #27 closed, assigned to Cesarluis

[2015-08-31 21:14] #2 closed, assigned to marcelorodcla

[2015-09-02 20:13] Cesarluis commented on #7
El formulario ya esta corregido, falta el css en la visualizacion @marcelorodcla

[2015-09-02 20:14] jgenso commented on #7
ok, marcelo esta de viaje asi que tiene conexion limitada estara de vuelta
el sabado.

2015-09-02 16:13 GMT-04:00 Cesarluis notifications@github.com:

##

*Juan Jose Olivera Rodriguez Genso Iniciativas Web +591.44505438 *

[2015-09-06 21:16] marcelorodcla commented on #1
@antvaleria  Listo. Revisar y cerrar el ticket por favor.

[2015-09-06 21:17] marcelorodcla commented on #14
@antvaleria  Cerrar el ticket por favor.

[2015-09-06 21:19] marcelorodcla commented on #15
@antvaleria @Cesarluis  Listo. En el administrador, en la edición de la Vista, cambiar el Formato a Lista sin formato. Luego de revisar, si corresponde, favor cerrar el ticket.

[2015-09-06 21:20] marcelorodcla commented on #17
@Cesarluis @antvaleria  Listo. En el administrador, en la edición de la Vista, cambiar el Formato a Lista sin formato. Luego de revisar, si corresponde, favor cerrar el ticket.

[2015-09-06 21:21] marcelorodcla commented on #24
@antvaleria  Listo, favor cerrar el ticket.

[2015-09-06 21:22] marcelorodcla commented on #26
@antvaleria Favor cerrar el ticket.

[2015-09-06 21:22] marcelorodcla commented on #31
@antvaleria No pude replicar el problema. Me podrías dar mas detalles por favor.

[2015-09-06 21:23] marcelorodcla commented on #33
@antvaleria Listo. Favor cerrar el ticket

[2015-09-06 21:30] marcelorodcla commented on #35
@antvaleria @Cesarluis para poder culminar este ticket es necesario que se cambie el comportamiento de la página. Actualmente, los contenidos se esta agrupando por tipo, todos los Documentos, estan dentro un mismo contenedor, lo mismo con video, etc.

[2015-09-07 17:24] Cesarluis commented on #35
ya corregi mediateca, para que se vean todos los tipos de contenido en una
sola lista

El 6 de septiembre de 2015, 17:30, marcelorodcla notifications@github.com
escribió:

##

César Luis Aranda Lozada
Celular: 72298563
En las viñas del Señor hay de todo, menos uvas.

[2015-09-07 17:29] Cesarluis commented on #36
ya esta, es una sola lista como dice el issue #37

[2015-09-07 21:43] #1 closed, assigned to marcelorodcla

[2015-09-07 21:43] #14 closed, assigned to marcelorodcla

[2015-09-07 22:12] antvaleria commented on #3
Dejo un equivalente de pt a px para el Replanteamiento de fuentes tipográficas.
OPEN SANS:

10 pt. = 13px (fecha, hora, subido por en previsualizaciones | Breadcrumb)
10.5 pt = 14px (texto menú header)
13 pt. = 17px (títulos de subcontenidos)
16 pt. = 22px (Subtítulos)
22 pt. = 29px (Títulos)
GARAMOND

12 pt. = 16px (Cuerpo de texto de un subcontenido o previsualización)
16 pt. = 22px (Cuerpo prin

[2015-09-07 22:16] antvaleria commented on #15
@marcelorodcla para cerrar este issue faltaría el trabajo de estilos en lo que son las galerías, se está jalando el contenido y las galerías ya son fijas (antes estaban como desplegables), pero faltaría acomodar dimensión de imágenes, tipografía, el ícono que viene sobre cada imagen según el tipo de contenido (si es noticia, agenda cultural, convocatoria, etc) y esos detalles, por favor fíjate en

[2015-09-07 22:39] antvaleria commented on #17
@marcelorodcla al igual que en el issue #15 falta trabajar estilos en contenidos de galerías y en la parte de destacados.
![cultura de red telartes](https://cloud.githubusercontent.com/assets/13840657/9723442/a9907354-558f-11e5-9daf-6621e00df436.png)

[2015-09-07 22:50] antvaleria commented on #24
@marcelorodcla la info ya va teniendo forma, dejo algunas observaciones para ir afinando y que se parezca más al diseño
![actorxs culturales telartes](https://cloud.githubusercontent.com/assets/13840657/9723528/3b8da7ee-5591-11e5-9368-daa0be9c2481.png)

[2015-09-07 22:51] antvaleria commented on #26
@marcelorodcla la info ya va teniendo forma, dejo algunas observaciones para ir afinando y que se parezca más al diseño
![actorxs culturales telartes](https://cloud.githubusercontent.com/assets/13840657/9723528/3b8da7ee-5591-11e5-9368-daa0be9c2481.png)

[2015-09-07 22:52] antvaleria commented on #26
@marcelorodcla la info ya va teniendo forma, dejo algunas observaciones para ir afinando y que se parezca más al diseño
![actorxs culturales telartes](https://cloud.githubusercontent.com/assets/13840657/9723528/3b8da7ee-5591-11e5-9368-daa0be9c2481.png)

[2015-09-07 22:53] #24 closed, assigned to marcelorodcla

[2015-09-07 22:55] #37 closed, assigned to Cesarluis

[2015-09-08 14:17] antvaleria opened #38 "Agenda Cultura - Desplegable: No se visualizan contenidos"
@marcelorodcla @Cesarluis Chicos por favor revisen esta parte, desde hace algún tiempo no se está mostrando las previsualizaciones de la Agenda Cultural, revisen eso por favor.
![agenda cultural deplegable](https://cloud.githubusercontent.com/assets/13840657/9736326/7e7a7de8-560e-11e5-958c-0d035a57b240.png)

[2015-09-08 14:19] #7 closed, assigned to Cesarluis

[2015-09-08 16:39] #33 closed, assigned to marcelorodcla

[2015-09-08 20:18] marcelorodcla commented on #3
Listo. Favor revisar.

[2015-09-08 20:20] marcelorodcla commented on #15
@antvaleria faltaba cambiar el formato de salida de la view, ya está. La tipografía ya está. Favor revisar.

[2015-09-08 20:20] marcelorodcla commented on #17
@antvaleria  ya está, favor revisar.

[2015-09-08 20:21] marcelorodcla commented on #18
@antvaleria  ya se dio estilo a Enlaces y articulaciones, favor revisar.

[2015-09-08 20:21] marcelorodcla commented on #26
Faltaba cambiar el formato de la view, ya esta. Favor revisar.

[2015-09-08 20:22] marcelorodcla commented on #31
@antvaleria  aun no puedo replicar el error.

[2015-09-08 20:23] marcelorodcla commented on #35
@antvaleria  @Cesarluis ya se dispuso los items en columnas, en el mockup de alta fidelidad hay una serie de informaci[on que no se muestra en el drupal (fecha, descripcion, etc. ) quiza falta agregar esos campos a la view, o están vacíos.

[2015-09-08 22:13] antvaleria commented on #15
@marcelorodcla ya todo está agarrando forma, creo que ahora es un trabajo de ir afinando detalles en algunas páginas del sitio te dejo una captura de pantalla con algunas observaciones para ir corrigiendo, estas observaciones se aplican a todas las páginas que presentan este tipo de contenido es decir todas las páginas que tienen galerías y todas las páginas que tiene la sección de "lo más destaca

[2015-09-09 17:10] antvaleria commented on #26
@marcelorodcla dejo algunas observaciones para ir afinando aun más. @Cesarluis En usuarios peronales no es necesario llamar esta info en la previsualización de perfiles ya que se muestra nombre completo debajo de su nombre de usuario.
![actorxs culturales telartes1](https://cloud.githubusercontent.com/assets/13840657/9768803/1c225ea4-56f4-11e5-89b0-983f370c676b.png)

[2015-09-09 22:24] antvaleria opened #39 "Noticias - Desplegable: Corregir espacio entre recuadros de previsualizaciones"
@marcelorodcla @Cesarluis Las previsualizaciones de noticias en el desplegable del home se movieron hace algunos días, por favor revisen eso porque era algo que ya estaba bien acomodado.
![noticia deplegable](https://cloud.githubusercontent.com/assets/13840657/9775772/e95623ee-571f-11e5-929c-e30ce07c5a90.png)

[2015-09-11 15:28] marcelorodcla commented on #15
@antvaleria lo siento, me olvidé reportar. Ya está.

[2015-09-11 15:28] marcelorodcla commented on #26
@antvaleria  lo siento, me olvidé reportar. Ya está.

[2015-09-11 23:08] antvaleria commented on #31
@marcelorodcla  te dejo una captura de cómo es que se está viendo ahora las notificaciones, tal vez sea porque no se está llamando alguna información @Cesarluis pero no se previsualiza la imagen con la que ha sido subido el contenido ni tampoco una especificación literal del tipo de contenido (inferior derecho de cada cuadro de notificación)
![notif1](https://cloud.githubusercontent.com/assets/138

[2015-09-14 15:32] marcelorodcla commented on #39
@antvaleria Listo, esta igual que agenda cultural. Favor revisar.

[2015-09-14 15:33] marcelorodcla commented on #38
@antvaleria listo, favor revisar.

[2015-09-15 13:46] #38 closed, assigned to nobody

[2015-09-15 13:47] #39 closed, assigned to nobody

[2015-09-15 14:47] antvaleria commented on #18
@marcelorodcla lo revisé está mucho mejor, puse algunas observaciones para que esté más parecido al diseño. Sería bueno también dar un poco más de espaciado entre los títulos de "Enlaces" y "Aritculaciones" con respecto al título del primer enlace que viene debajo, noto que están un poco pegados.
Eso sería en esta parte, faltaría trabajar estilos en sus galerías, creo que la galería más completa e

[2015-09-15 22:35] antvaleria opened #40 "Mantengamos el contacto: trabajo general de estilos para la página"
@marcelorodcla @Cesarluis en esta página mucha de la información y funcionamiento está faltaría trabajar estilos principalmente y un poco el orden en el que aparece la información dejo una captura de pantalla con algunas observaciones y el diseño más que es como debería verse finalmente.
![mantengamos el contacto telartes](https://cloud.githubusercontent.com/assets/13840657/9891953/63701d12-5bd8-1

[2015-09-15 22:49] marcelorodcla commented on #40
@Cesarluis favor mostrar en  la vista  la información que falta.

[2015-09-17 20:25] antvaleria commented on #40
@marcelorodcla adjunto enlace donde descargar iconos desde el drive https://drive.google.com/drive/folders/0Bxg1HTzPj3EoSFBZVG5OSlJmSXc

[2015-09-18 03:03] marcelorodcla commented on #40
Hecho.

[2015-09-18 14:27] antvaleria commented on #40
@marcelorodcla @Cesarluis  dejo algunas observaciones respecto a lo avanzado en "Mantengamos el Contacto"
Adjunto enlace: http://telartes.barriohacker.net/content/mantengamos-el-contacto
![mantengamos el contacto telartes1](https://cloud.githubusercontent.com/assets/13840657/9961478/c57f9178-5dee-11e5-841a-9066e5dcb12f.png)

[2015-09-18 16:24] antvaleria commented on #15
@marcelorodcla @Cesarluis Dejo algunos apuntes para ir trabajando sobre lo que son estilos, principalmente de las visualizaciones de los contenidos de las galerías. Esta página http://telartes.barriohacker.net/content/circulacion tiene todos los tipos de contenidos para ir trabajando estilos, mantengamos como referencia el diseño que está adjunto en el primer comentario de este issue para ir compa

[2015-09-19 16:50] marcelorodcla commented on #40
Listo.

[2015-09-19 17:33] marcelorodcla commented on #18
Listo los dos bordes.

[2015-09-21 20:54] antvaleria commented on #18
@marcelorodcla acabo de verlo, está mejor, faltaría trabajar las galerías y dar un espaciado entre los textos de "Enlaces" - "Articulaciones" y lo que les sigue abajo. Por algún motivo la fuente se ha cambiado en la descripción de los enlaces y hay una sans serif, mejor si volvemos a la Garamond.
*Dejo una captura de pantalla puedes trabajar eso del espacio que apunté en la imagen al final ya que

[2015-09-21 21:14] antvaleria commented on #40
@marcelorodcla Está mucho mejor hice una captura de pantalla con algunos apuntes para afinar detalles. Sería bueno igual juntar un poco los enlaces de súmate a los núcleos, veo que hay mucho espacio entre enlaces (uno debajo del otro).
![mantengamos el contacto telartes2](https://cloud.githubusercontent.com/assets/13840657/10005123/8617e02a-6083-11e5-96bd-47fdf25aa103.png)

[2015-09-21 21:52] antvaleria commented on #35
@Cesarluis estoy dejando unos apuntes respecto a funcionamiento que se pueden arreglar para que @marcelorodcla arranque bien con el trabajo de estilos de los contenidos en relación al diseño propuesto en el primer comentario.
![mediateca telartes](https://cloud.githubusercontent.com/assets/13840657/10006141/284aa968-6089-11e5-914b-4a0fcfab20a6.png)

[2015-10-12 03:50] #15 closed, assigned to marcelorodcla

[2015-10-30 23:04] kalikaneko opened #41 "username hints need translation"
this is still in english: Username has to be between 5-15 characters long and can only     contain letters and numbers

[2015-10-30 23:05] kalikaneko opened #42 "validation icons out of place"
they are below the textentry.
I think they could go right of the text input.

[2015-10-30 23:07] kalikaneko opened #43 "dummy text in "terms of use""
this is not ready for public diffusion.
who can write the real text?

[2015-10-30 23:07] kalikaneko opened #44 "incorrect padding in registration form"
all the text entries should be aligned equally

[2015-10-30 23:17] kalikaneko opened #45 "no hints about selected tab in registration page"
on the registration page, user has no hint about what's the selected tab.
this is obviously a css error.

[2015-10-30 23:19] kalikaneko opened #46 "register: no legend for red star"
we all know that red star means mandatory field, but this is not clearly stated in the registration form.

[2015-10-30 23:23] kalikaneko opened #47 "categories stack vertically"
this needs a css fix. several categories are stacking vertically, they should better be in a row.

for example: http://telartes.org.bo/content/edicion-colaborativa-offline

[2015-10-30 23:30] kalikaneko opened #48 "registration is BROKEN"
that. no errors, form just gets blanked out but no user is created.

[2015-10-30 23:41] kalikaneko opened #49 "top-left telartes logo needs more padding-right"
except on the landing page, the image is cut too short to the left.

[2015-10-30 23:44] kalikaneko opened #50 "fix errors with disqus module"

[2015-10-31 00:06] Cesarluis commented on #43
He pedido nuevamente a los responsables que me entreguen el texto

[2015-10-31 00:10] Cesarluis commented on #46
Yo lo veo claro,

[2015-10-31 00:15] juanc975 commented on #49
was increased padding to the right side of the logo

[2015-10-31 00:15] #49 closed, assigned to juanc975

[2015-10-31 00:31] kalikaneko commented on #50
fixed. updated to http://ftp.drupal.org/files/projects/disqus-7.x-1.x-dev.tar.gz
(we were hitting https://www.drupal.org/node/2505743)

[2015-10-31 00:31] #50 closed, assigned to kalikaneko

[2015-10-31 00:34] kalikaneko commented on #48
it looks that error might be related to a non-existent mail account.

[2015-10-31 00:38] #47 closed, assigned to juanc975

[2015-10-31 00:54] kalikaneko commented on #50
dev version was still having some issues with certain content-types. downgraded to
https://www.drupal.org/node/2137767 disqus 7.x-1.10 as suggested in the issue linked above and the problem seems to be gone.

[2015-10-31 00:58] juanc975 commented on #45
hover same color of the active tab

[2015-10-31 00:58] #45 closed, assigned to juanc975

[2015-10-31 19:21] kalikaneko opened #51 "wrong title in landing page"
says "Usuario"

[2015-10-31 19:23] kalikaneko opened #52 "filter publications and other items in Personal page"
right now it displays publications from all the users

[2015-10-31 20:27] kalikaneko commented on #52
ugh. this was quite non-obvious. the key is a contextual filter in the view.
these are good hints that teach how to to solve this:
http://www.geeksandgod.com/tutorials/computers/cms/drupal/limit-views-created-block-content-node-author-or-current-node
http://stackoverflow.com/questions/2569867/drupal-views-display-recent-nodes-created-by-user-on-profile-page
although the admin language (ES) and the

[2015-10-31 20:27] #52 closed, assigned to nobody